*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #00178b;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
/* Contenedor general */
.escenario {
  position: relative;
  width: 750px;
  height: 500px;
  margin: 30px auto;
  background-image: url('escenario2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 4px solid #000;
  border-radius: 10px;
}

/* --- Elementos animables --- */
.yoshi {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 50px;
  left: 80px;
}

.cosito {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 100px;
  right: 80px;
}

/* --- Elementos clickeables --- */
.moneda1 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 200px;
  left: 200px;
}

.moneda2 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 120px;
  left: 350px;
}

.moneda3 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 280px;
  left: 500px;
}

.estrella {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 70px;
  right: 150px;
}

/* --- Marcador --- */
.contador {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 15px;
  border-radius: 12px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.item-contador {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icono {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.saltar{
  animation: salto 0.6s ease forwards;
}

@keyframes salto {
  0%{transform: translateY(0); opacity: 1;}
  30%{transform: translateY(-60%);}
  100%{transform: translateY(0); opacity: 0;}
}

.moverYoshi{
  animation: moverYoshi 2s linear infinite alternate;
}

@keyframes moverYoshi {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-40px);
  }
}

.moverCosito{
  animation: moverCosito 2s linear infinite alternate;
}

@keyframes moverCosito {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-40px);
  }
}



.escenario2 {
  position: relative;
  width: 750px;
  height: 500px;
  margin: 30px auto;
  background-image: url('bosque.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 4px solid #000;
  border-radius: 10px;
}





.escenario3 {
  position: relative;
  width: 750px;
  height: 500px;
  margin: 30px auto;
  background-image: url('silencion\ gil.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 4px solid #000;
  border-radius: 10px;
}